.login-container {
    height: 400px;
    width: 400px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px #d9d9d9;
    padding: 0px 10px 50px;
    margin: 90px 20px 0px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-header {
    font-family: 'Lobster', cursive;
    color: #ff004c;
    font-size: 2rem;
}

.login-header span {
    color: #ff004c;
    font-family: 'Anton', sans-serif;
}

.login-header span span {
    color: #94002c;
}

.login-guest-btn {
    margin-top: 50px;
    border-style: none;
    padding: 20px;
    width: 200px;
    background-color: #C60039;
    color: white;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
}

.login-guest-btn:hover {
    background-color: #d61c51;
    cursor: pointer;
}

.login-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8c8c8c;
    font-size: 0.8rem;
    margin: 50px 0 10px 0;
}

.login-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    border-style:solid;
    border-width: thin;
    border-color: #8c8c8c;
    padding: 8px;
}

.login-icon {
    color: #5e5e5e;
}

.login-inputs input {
    border-style: none;
    outline: none;
    margin-left: 5px;
}

.login-admin-btn:hover {
    background-color: #d61c51;
    cursor: pointer;
}

.login-admin-btn {
    border-style: none;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    color: white;
    background-color: #94002c;
    transition: 0.2s ease;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

