.view-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 10px #d9d9d9;
    border-radius: 20px;
    font-size: 1rem;
    padding: 20px;
    margin-top: 80px;
}

.view-info {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.view-p {
    margin-right: 20px;
    color: #303030;
}

.view-btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.view-goback-btn {
    margin-top: 20px;
    width: 150px;
    border-style: none;
    padding: 15px;
    color: white;
    background-color: #C60039;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
}

.view-goback-btn:hover {
    background-color: #d61c51;
    cursor: pointer;
}