.app-container {
  width: 100%;
  margin: 0 auto;
}

.app-container header {
  height: 8vh;
  min-height: 50px;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 10px #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 4px;
}

.header-dummy {
  height: 8vh;
  min-height: 50px;
  width: 100%;
  box-shadow: 0 0 10px #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
}

.app-logo {
  color:#C60039;
  margin-left: 200px;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
}

.app-logo span{
  color: #94002c;
}

.app-container section {
  display: flex;
  justify-content: center;
}

.link {
  text-decoration: none;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}