.tickets-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: fade 0.2s ease;
}

.view-container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 500px;
    background-color: white;
    box-shadow: 0 0 10px #d9d9d9;
    border-radius: 20px;
    font-size: 1rem;
    padding: 20px;
    margin-top: 20px;
}

.view-info {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

/*No ticket div*/
.tickets-unavailable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px #d9d9d9;
    border-radius: 20px;
    font-size: 1rem;
    padding: 20px;
    margin-top: 20px;
    animation: fade 0.2s ease;
}
/*end of section*/

/*flight-details*/
.view-subheader {
    margin: 20px 0; 
}

.view-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.view-form-h4-bold{
    margin-top: 10px;
    font-size: .8rem;
    color: #61617A;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
/*end of section*/


/*check in and cancel buttons*/
.view-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    margin-top: 20px;
}

.view-btn {
    margin-top: 20px;
    width: 150px;
    border-style: none;
    padding: 15px;
    color: white;
    background-color: #C60039;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
}

.view-btn:hover {
    background-color: #d61c51;
    cursor: pointer;
}

.view-btn-container p:hover{
    cursor: pointer;
}
/*end of section*/

/*Cancel prompt*/
.prompt-padding {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgba(133, 133, 133, 0.5);
    backdrop-filter: blur(5px);
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
    animation: fade 0.2s ease;
    z-index: 100;
}

.tickets-prompt {
    position: fixed;
    display: flex;
    top: 30%;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    height: 250px;
    width: 400px;
    background-color: white;
    box-shadow: 0 0 10px #d9d9d9;
    border-radius: 20px;
}

.tickets-prompt-options {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.tickets-prompt-info {
    margin: 10px 0;
}

.tickets-prompt-btn {
    width: 100px;
    border-style: none;
    padding: 10px;
    color: white;
    background-color: #C60039;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    margin: 0 50px;
}

.tickets-prompt-btn:hover {
    background-color: #d61c51;
    cursor: pointer;
}
/*end of section*/

/*paragraph styles*/
.view-form-h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1rem;
    margin: 0;
}

.view-form-h4 {
    font-size: .8rem;
    color: #61617A;
    margin-top: 5px;
    margin-bottom: 0;
}

.view-form-info {
    font-size: .8rem;
    color: #61617A;
    margin-top: 50px;
    margin-bottom: 0;
}

.view-form-info span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.view-form-h2 {
    font-size: .9rem;
    margin-top: 15px;
    margin-bottom: 0;
}

.view-form-h3 {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
}
/*end of section*/